html {
  font-size: 16px;
}

/* button, input, optgroup, select, textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
} */

button {
  padding: 0;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("./fonts/museo/29E6B7_3_0.eot");
  src: url("./fonts/museo/29E6B7_3_0.eot?#iefix") format("embedded-opentype"),
    url("./fonts/museo/29E6B7_3_0.woff") format("woff"),
    url("./fonts/museo/29E6B7_3_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  color: #414042;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("./fonts/museo/29E6B7_0_0.eot");
  src: url("./fonts/museo/29E6B7_0_0.eot?#iefix") format("embedded-opentype"),
    url("./fonts/museo/29E6B7_0_0.woff") format("woff"),
    url("./fonts/museo/29E6B7_0_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  color: #414042;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("./fonts/museo/29E6B7_2_0.eot");
  src: url("./fonts/museo/29E6B7_2_0.eot?#iefix") format("embedded-opentype"),
    url("./fonts/museo/29E6B7_2_0.woff") format("woff"),
    url("./fonts/museo/29E6B7_2_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  color: #414042;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("./fonts/museo/29E6B7_5_0.eot");
  src: url("./fonts/museo/29E6B7_5_0.eot?#iefix") format("embedded-opentype"),
    url("./fonts/museo/29E6B7_5_0.woff") format("woff"),
    url("./fonts/museo/29E6B7_5_0.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  color: #414042;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("./fonts/museo/29E6B7_1_0.eot");
  src: url("./fonts/museo/29E6B7_1_0.eot?#iefix") format("embedded-opentype"),
    url("./fonts/museo/29E6B7_1_0.woff") format("woff"),
    url("./fonts/museo/29E6B7_1_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  color: #414042;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("./fonts/museo/29E6B7_4_0.eot");
  src: url("./fonts/museo/29E6B7_4_0.eot?#iefix") format("embedded-opentype"),
    url("./fonts/museo/29E6B7_4_0.woff") format("woff"),
    url("./fonts/museo/29E6B7_4_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 1000;
  color: #414042;
}
body {
  margin: 0;
  padding: 0;
  font-family: "MuseoSansRounded", serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f9f9f9;
  color: #414042;
}

a {
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #414042;
  text-decoration: underline;
}

a:hover {
  text-decoration: unset;
  color: #ec710a;
}

a.btn,
.nav li a {
  text-decoration: unset;
}

h3 {
  font-size: 36px;
  font-weight: normal;
}

button,
input[type="button"],
input.btn,
a.btn {
  font-weight: normal !important;
}

/* Modal Styles */

.ReactModalPortal .header {
  margin: 0 auto;
  position: relative;
  width: 300px;
  height: 130px;
  display: flex;
  align-content: space-around;
  justify-content: center;
}

.ReactModalPortal .header img {
  width: 120px;
}

.ReactModalPortal .header h2 {
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
}

.ReactModalPortal .header img,
.ReactModalPortal .header h2 {
  margin: 0;
  padding: 0;
  position: absolute;
}

.ReactModalPortal #quantity {
  width: 100%;
}

.ReactModalPortal .form-group #useAsLid {
  box-shadow: none;
  width: 30px;
  margin: 0 auto;
}

.ReactModalPortal #submit-btn {
  margin: 25px 0 0 0;
}

/* End Modal Styles */

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 20px;
}

.header-info h3 {
  font-size: 36px;
  line-height: 1.25;
  color: #414042;
  margin-top: 0;
}

.header-info p {
  height: 22px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.react-datepicker {
  line-height: 21px;
}

.react-select .css-vj8t7z {
  border: solid 1px rgba(126, 212, 247, 1);
  color: #414042 !important;
  font-weight: 300 !important;
}

.react-select .css-d8oujb {
  display: none;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="phone"] {
  border: solid 1px rgba(126, 212, 247, 1);
}

input[type="text"].has-error,
input[type="number"].has-error,
input[type="password"].has-error,
input[type="email"].has-error,
input[type="phone"].has-error {
  border: solid 1px #f56565;
}

*,
:after,
:before {
  border: 0 solid #e2e8f0;
}

.swal-text {
  text-align: inherit;
}

.loader-container {
  z-index: 5 !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: unset !important;
  color: unset !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: #f0f0f0 !important;
}

.uppy-Dashboard-Item-previewIcon {
  z-index: 30 !important;
}

.uppy-size--md .uppy-Dashboard-Item-action--remove {
  z-index: 30 !important;
}

.css-bg1rzq-control {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  position: relative;
  transition: all 100ms ease 0s;
  box-sizing: border-box;
  outline: 0px !important;
  padding-left: 8px;
  padding-right: 8px;
}

@media only screen and (max-width: 820px) {
  .header-info h3 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 425px) {
  .header-info h3 {
    font-size: 24px;
  }
}

@tailwind base;
@tailwind utilities;

@layer base {
  :root {
    --tosca-orange: #ec710a;
    --tosca-orange-dark: #b75808;
    --tosca-orange-light: #f88f0f;
    --tosca-blue: #7ed4f7;

    --text-dark: #414042; /* Zeplin */
    --text-light: #6e6f71; /* Zeplin */
    --text-muted: #9a9aaf; /* Figma */

    --tosca-gray-dark: #939598; /* Zeplin:grey-bg-dark */
    --tosca-gray: #f3f3f3; /* Zeplin:grey-bg-light */
    --tosca-gray-light: #f9f9f9; /* Figma: grey-light */
    --tosca-gray-cool: #f2f3f7;

    --sidebar-width: 16rem;
    --collapsed-sidebar-width: 5rem;
  }
}
